# Ansible
*.retry

# Chaves e segredos - NUNCA versionar
*.pem
*.key
vault-pass.txt

# Temporários
*.log
*~
HowTo_Runbook_Lab_Roger.md
Cola_Ansible_Playbook_Roger.md
roles/promtail/files/promtail-journal.tar
roles/promtail/files/promtail-journal.tar
